requests2.32.3
beautifulsoup44.12.3
fake-useragent1.5.1
selenium4.25.0
webdriver-manager4.0.2
python-telegram-bot20.7
groq0.11.0
cryptography43.0.1
python-dotenv1.0.1
apscheduler3.10.4
pytz2024.2
numpy2.1.2
tweepy4.14.0
xgboost2.1.1
redis5.1.1
matplotlib3.9.2
psutil6.1.0
textblob0.17.1
flask==3.0.3
